html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

nav > a {
  text-decoration: none;
  font-weight: bold;
}

.page-container {
  max-width: 800px;
  margin: 16px 32px 32px 32px;
}



.md {
  h1 {
    font-size: 40px;
    margin: 16px 0;
    padding-bottom: 16px;
    font-weight: 500;
    color: #333333;
  }
  h2 {
    font-size: 32px;
    margin: 16px 0;
    font-weight: 500;
    color: #333333;
  }
  h3 {
    font-size: 32px;
    margin: 16px 0;
    font-weight: 500;
    color: #333333;
  }
  // terminal
  h4 {
    font-family: Roboto Mono;
    font-size: 15px;
    padding: 24px 24px;
    background-color: #444444;
    color: #77F94E;
    border-radius: 5px;
  }

  // code block file name
  h5 { 
    font-size:16px;
    font-weight: lighter;
    background-color: #1E88E5;
    padding: 10px 16px;
    color: #FAFAFA;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0px;
  }
  // code block
  pre {
    color: #1E88E5;
    margin-top: 0;
    padding: 24px;
    background-color: #FCFCFC;
    border: 0.5px solid #DBDBDB;
    font-family: Roboto Mono;
    font-size: 16px;
    border-radius: 0 0 5px 5px;
  }
  // code inline
  *:not(pre) code {
    margin-top: 0;
    padding:3px;
    background-color: #F4F4F4;
    border-radius: 5px;
    font-family: Roboto Mono;
    font-size: 15px;
    color: #333333;
  }
  blockquote {
    border-left: 8px solid #3576CB;
    margin: 24px 0;
    background-color: #F5F8FC;
    padding: 8px 32px;
  }
  p {
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    margin: 16px 0;
    color: #000000;
    overflow: hidden;
    letter-spacing: 0.1px;
  }
  ul {
    margin-top: 12px;
    padding-left: 16px;
  }
  ol {
    margin-top: 12px;
    padding-left: 16px;
  }
  li {
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
  }
  hr {
    margin: 40px 0;
    border-top: 1px solid #DBDBDB;
  }
  a {
    color: #3576CB;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    code {
      color: #3576CB;
    }
  }
  img {
    max-width: 800px;
  }
}



